# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------------
# Virtual Environments
# ----------------------------
.venv/
venv/
env/

# ----------------------------
# Build
# ----------------------------
build/
dist/
*.egg-info/

# ----------------------------
# Test
# ----------------------------
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# ----------------------------
# Type Checking
# ----------------------------
.mypy_cache/

# ----------------------------
# Ruff
# ----------------------------
.ruff_cache/

# ----------------------------
# Jupyter
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# IDE
# ----------------------------
.idea/
.vscode/

# ----------------------------
# macOS
# ----------------------------
.DS_Store

# ----------------------------
# Windows
# ----------------------------
Thumbs.db

# ----------------------------
# Environment
# ----------------------------
.env
.env.*

!.env.example

# ----------------------------
# Data
# ----------------------------
data/lake/raw/*
data/lake/validated/*
data/lake/canonical/*
data/lake/archive/*
data/features/*
data/labels/*
data/datasets/*

# Keep directory structure
!data/lake/raw/.gitkeep
!data/lake/validated/.gitkeep
!data/lake/canonical/.gitkeep
!data/lake/archive/.gitkeep
!data/features/.gitkeep
!data/labels/.gitkeep
!data/datasets/.gitkeep
!data/metadata/.gitkeep

# ----------------------------
# Logs
# ----------------------------
logs/
*.log

# ----------------------------
# Experiment Outputs
# ----------------------------
experiments/
reports/

# Keep folders
!experiments/.gitkeep
!reports/.gitkeep

# ----------------------------
# Misc
# ----------------------------